:global {
  * {
    margin: 0;
  }
  .red-block {
    &.relative {
      // left: 301px;
      position: relative;
    }
    &.absolute {
      position: absolute;
    }
    &.fixed {
      top: 301px;
      position: fixed;
    }
    background-color: tomato;
    display: inline-block;
    height: 300px;
    width: 300px;
  }
  .teal-block {
    background-color: teal;
    height: 150px;
    width: 150px;
  }
  .ripple {
    @extend .blue;
  }
  .blue {
    background-color: blue;
  }
}
