$rippleFX-duration: 1s !default;
$rippleFX-initial-opacity: 1 !default;
$rippleFX-final-opacity: $rippleFX-initial-opacity !default;

.ripple-fx {
  user-select: none;
  border-radius: 50%;
  position: absolute;
  animation: rippleFx $rippleFX-duration;
}

@keyframes :global(rippleFx) {
  from {
    transform: scale(1);
    opacity: $rippleFX-initial-opacity;
  }
  to {
    transform: scale(10);
    opacity: $rippleFX-final-opacity;
  }
}
